
body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top:0;
    right:0;
    background-color: rgb(38, 32, 51);
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px;
    text-align:center;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ff0000;
    display: block;
    transition: 0.3s;
  
  }
  
  .sidenav a:hover{
    color: #ffffff;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 30px;}
    .sidenav a {font-size: 24px;}
    
  }
  #bg{
    position: relative;
    text-align: center;
     
  }
  .sri:hover{
  background-color: green;
  }
  section#footer {
	background-color:rgba(5, 42, 62, 1);
	margin: 0;
	color: #fff;
}
/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}
/* footer menu */
ul.footer-menu {
	list-style: none;
	display: inline;
	margin-left:0 ;
	padding: 0;
}
ul.footer-menu li {
	display: inline;
	margin: 0 5px;
}
/* footer social icons */

.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoInstagram:hover {
	background-color:#ff4b33;
}
.social-network a.icoYoutube:hover {
	background-color:rgb(189, 24, 24);
}


.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
    margin-top: 50px;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
    font-size:20px;
    background-color: rgb(39, 39, 39);
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.5s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

